
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 20px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 235px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background:#29282e;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background:#01b0b9;
  color: #fff;
}


/*
 * Main content
 */

.right-area {
  background: #eeeeee;
  padding-bottom: 50px;
}
.content{
  padding: 20px;
  margin-top: 20px;
  background: #ffffff;
}

.main .page-header {
  margin-top: 0;
}
.main .main-sup-info{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 10px;
  color: #999;
}
.main .main-button .btn{
  margin: 0 15px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.file-updown{
  height: 100px;
  margin:0;
  background: url("../images/img1.png")no-repeat center #ccc;
}
.file-input{
  position: relative;
}
.input-updown{
  position: absolute;
  z-index: -1;
  width:0;
  height: 0;
  visibility: hidden;

}
.file-updown-init{
   height: 100px;
   margin:0;
   text-align: center;
   line-height: 85px
}
.file-updown-init:before { content: "\e640";
  color: #ccc;
  font-size: 30px

 }



