/*公共管理平台自定义样式表*/
/*common style*/
.right{

}
    float: right;
}

/*sidebar*/
.admin-info{
    color:#ffffff;
    text-align: center;
}
.admin-info .admin-title{
    font-family:JLinXin;
    font-size:24px;
}
.admin-info .admin-sub-title{
    font-family:Jxixinkai;
    font-size:18px;
}
.admin-info .admin-portrait{
    margin: 30px 0 20px 0;
}
.admin-list{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}
.admin-list .admin-list-title{
    line-height: 64px;
}




/*nav*/
.nav-header{
    background:#ffffff;
    box-shadow:0 0 4px 0 rgba(0,0,0,0.50);
    height:44px;
}
.navbar-nav > li > a{
    font-size: 18px;
    color: #999;
    line-height: 24px;
}
.nav-header .on a,.nav-header .on a:hover,.nav-header .on a:focus{
    background:#01b0b9;
    color: #fff;

}

.nav-admin>li>a{
    padding: 10px 0;
}
.nav-admin>li>a .icon{
    margin: 0 20px 0 0;
    font-size: larger;
}
.nav-admin .admin-name{
    font-size: 12px;
}
.hui{
    background: #ccc;
    color: red;
} 
.activity-content{
    padding: 0;
    border: 1px solid #ddd;
}
.activity-content > .tab-content{
    padding: 20px;
    background: : #fff;
}
.activity-content > .nav > li{
    height: 41px;
}
.activity-content > .nav > li > span{
   margin: 0;
   padding:10px 40px;
   border-radius: 0;
   border: none;
   border-right:1px solid #ddd;
   background: #eee;
   color:#898989; 
   float: left;
   cursor: pointer;
}
.sub-header{
    position: :relative;
}
.sub-header .no-release{
    position: absolute;
    top:3px;
    right: 0px;
    font-size:  14px;
    color: #999;
}
.bai{
    background: red;
}
.editable{
    font-size: 14px;
    padding-left:20px;
    color:#01b0b9;
}
.tab-content{
    border-left: 1px solid #ccc
}
td span{
    padding-right:15px;
    color:#01b0b9;
}
.pagination{
  position: absolute;
  left: 50%
}
h4{
    border-bottom:1px solid #ccc;
}
.lan{
    background:#01b0b9;
    color: #fff;
  
}
.lan> ul{
      height: 44px;
}
.lan> ul> li{
      height: 44px;
      line-height:44px;
      padding: 0 20px
}

